@font-face {
  font-family: Roboto;
  src: url(../assets/fonts/Roboto/Roboto-Black.ttf);
}
@font-face {
  font-family: Archivo;
  src: url(../assets/fonts/Archivo/Archivo-Black.ttf);
}
* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}
html body {
  margin: 0;
  padding: 0;
  direction: ltr;
  background-color: #FAF4F2;
  background-image: url(../assets/svgs/shape1.svg);
  background-size: cover;
}
html body .intro {
  width: 100%;
  height: 600px;
  background-image: url(../assets/images/header-bg.jpg);
  background-size: cover;
  border-bottom-left-radius: 115px;
  border-bottom-right-radius: 115px;
}
html body .intro .navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-size: 14px;
}
html body .intro .navbar .logo-responsive {
  display: none;
  width: 25px;
  height: auto;
}
html body .intro .navbar .hamberger-menu {
  display: none;
  border: 1px solid #ffffff;
  background-color: #ffffff;
  border-radius: 35%;
  padding: 7px 10px;
}
html body .intro .navbar .hamberger-menu .menu-responsive img {
  width: 17px;
  height: auto;
}
html body .intro .navbar .left-options .site-logo {
  width: 40px;
  height: auto;
}
html body .intro .navbar .left-options ul {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  justify-content: unset;
  align-items: center;
}
html body .intro .navbar .left-options ul li a {
  text-decoration: none;
  padding: 8px;
  color: rgba(251, 251, 251, 0.607);
}
html body .intro .navbar .right-options {
  margin-right: 5%;
}
html body .intro .navbar .right-options a {
  text-decoration: none;
  color: #ffffff;
  padding: 8px;
}
html body .intro .navbar .right-options .signin-button {
  border: 1px solid #ffffff;
  border-radius: 30px;
  padding: 5px 11px;
}
html body .intro .intro-detail {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 80px;
}
html body .intro .intro-detail .intro-detail-elements {
  margin: 11px;
}
html body .intro .intro-detail h1 {
  color: #ffffff;
  font-size: 61px;
  text-align: center;
  word-spacing: 3px;
  margin-top: 50px;
}
html body .intro .intro-detail p {
  color: #ffffff;
  text-align: center;
}
html body .intro .intro-detail a {
  text-decoration: none;
  font-size: 14px;
  color: #ffffff;
  background-color: #E76F51;
  border: 1px solid #E76F51;
  border-radius: 30px;
  padding: 5px 28px;
}
html body .intro .intro-cards {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: relative;
  top: 75px;
}
html body .intro .intro-cards .cards {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 270px;
  height: 230px;
  background-color: #ffffff;
  border: 1px solid #ffffff;
  border-radius: 33px;
  margin: 5px;
}
html body .intro .intro-cards .cards img {
  margin-top: 33px;
}
html body .intro .intro-cards .cards h6 {
  margin-top: 28px;
}
html body .intro .intro-cards .cards p {
  text-align: center;
}

@media only screen and (min-width: 324px) and (max-width: 775px) {
  html body .intro .navbar .logo-responsive {
    display: block;
    margin-left: 11px;
  }
  html body .intro .navbar .hamberger-menu {
    display: block;
    margin-left: 76%;
    margin-right: 5px;
  }
  html body .intro .navbar .left-options ul li {
    display: none;
  }
  html body .intro .navbar .right-options {
    display: none;
  }
  html body .intro .intro-detail h1 {
    font-size: 38px;
  }
  html body .intro .intro-detail p {
    font-size: 14px;
  }
}/*# sourceMappingURL=style.css.map */