// @import "";

@font-face {
    font-family: Roboto;
    src: url(../assets/fonts/Roboto/Roboto-Black.ttf);
}
@font-face {
    font-family: Archivo;
    src: url(../assets/fonts/Archivo/Archivo-Black.ttf);
}

@mixin flex-manager($direction, $justify, $align) {
    display: flex;
    flex-direction: $direction;
    justify-content: $justify;
    align-items: $align;
}

* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    body {
        margin: 0;
        padding: 0;
        direction: ltr;
        font-family: Roboto;
        .intro {
            width: 100%;
            height: 600px;
            // margin-top: 0;
            background-image: url(../assets/images/header-bg.jpg);
            // background-position: fixed;
            background-size: cover;
            border-bottom-left-radius: 115px;
            border-bottom-right-radius: 115px;
            .navbar {
                @include flex-manager(row, space-between, center);
                // margin-top: 10px;
                font-size: 14px;
                .logo-responsive {
                    display: none;
                    width: 25px;
                    height: auto; 
                }
                .hamberger-menu {
                    display: none;
                    border: 1px solid #ffffff;
                    background-color: #ffffff;
                    border-radius: 35%; 
                    padding: 7px 10px;
                    .menu-responsive {
                        img {
                            width: 17px;
                            height: auto;
                        }
                    }
                }
                .left-options {
                    .site-logo {
                        width: 40px;
                        height: auto;  
                    }
                    ul {
                        list-style-type: none;
                        @include flex-manager(row, unset, center);
                        li {
                            a {
                                text-decoration: none;
                                padding: 8px;
                                color: rgba(251, 251, 251, 0.607);
                            }
                        }
                    }
                }
                .right-options {
                    // @include flex-manager(row, unset, center);
                    margin-right: 5%;
                    a {
                        text-decoration: none;
                        color: #ffffff;
                        padding: 8px;
                    }
                    .signin-button {
                        border: 1px solid #ffffff;
                        border-radius: 30px;
                        padding: 5px 11px;
                    }
                }
            }
            .intro-detail {
                @include flex-manager(column, center, center);
                margin-top: 80px;
                .intro-detail-elements {
                    margin: 11px;
                }
                h1 {
                    color: #ffffff;
                    font-size: 61px;
                    text-align: center;
                    word-spacing: 3px;
                    margin-top: 50px;
                }
                p {
                    // position: relative;
                    // bottom: 17px;
                    color: #ffffff;
                    text-align: center;
                }
                a {
                    text-decoration: none;
                    font-size: 14px;
                    color: #ffffff;
                    background-color: #E76F51;
                    border: 1px solid #E76F51;
                    border-radius: 30px;
                    // margin-top: 14px;
                    padding: 5px 28px;
                }
            }
        }
    }
}



//today: 1403.03.30 - wed .
//continue: develope "section 1" responsive;
// Thanks God . really ..  ;-)


//mobile responsive: 
@media only screen and (min-width: 324px) and (max-width: 775px) {
    
    html {
        body {
            .intro {
                .navbar {
                    // @include flex-manager(row, space-between, center);
                    .logo-responsive {
                        display: block;
                        margin-left: 11px;
                    }
                    .hamberger-menu {
                        display: block;
                        margin-left: 76%;
                        margin-right: 5px;
                    }
                    .left-options {
                        ul {
                            li {
                                display: none;
                            }
                        }
                    }
                    .right-options {
                        display: none;
                    }
                }
                .intro-detail {
                    h1 {
                        font-size: 38px;
                    }
                    p {
                        font-size: 14px;
                    }
                }
            }
        }
    }



}